asgiref>=3.8.1,<4
beautifulsoup4
certifi
charset-normalizer
colorama
contourpy
cycler
Django>=5.1
factory-boy
Faker
fonttools
idna
iniconfig
kiwisolver
matplotlib
numpy
packaging
pandas
pillow
pluggy
pyparsing
pytest
pytest-django
python-dateutil
pytz
requests
seaborn
six
soupsieve
sqlparse
tzdata
urllib3
